.App {
  text-align: center;
}

.appChat{
  height: 90vh !important;
}

.appForm{
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 2;
  background-color: white; 
  width: 100%;
  margin: 0 20px;
}

.appFormControl{
  display: flex !important;
  flex-direction: row !important;
  width: 100% !important;
}

.appIconButton{
  flex: 0;
}

.appInput{
  flex: 0.9;
}

.img-logo{
  margin-top: 2rem
}

.div{
  margin-bottom: 100px !important;
}